# === Python 가상환경 ===
/venv/
/myvenv/

# === Python 캐시 ===
*.pyc
__pycache__/

# === Django ===
.env
.env.local
.env.development
.env.production
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/


# === Editor / OS ===
.vscode/
.DS_Store
Thumbs.db

# === Node & React Native ===
node_modules/
.expo/
.expo-shared/
web-build/
dist/
build/
android/
ios/

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# === TypeScript ===
*.tsbuildinfo

# === Temp Files ===
*.tmp
*.temp
